* {
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: #121212;
    margin: 50px auto;
    width: 50%;
}

p, h1, h2, h3, h4, h5, h6, ul, ol {
    color: #F0F0F0;
}

img {
    border: 10px solid rgba(255, 255, 255, 0.74);
    margin: 0 auto;
    display: block;
    border-radius: 20px
}

.home {
    size: 30px;
    color: white;
    background-color: #ffffff59;
    font-size: 30px;
    padding: 10px 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 20px
}
.home:hover {
    background-color: #ffffff2e;
}

.recipe-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.recipe-list li a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: black;
    font-size: 50px;
    padding: 60px;
    margin-bottom: 30px;
}
.recipe-list li a span {
    background-color: rgb(156, 142, 142);
    border: 4px solid gray;
}

.garlic, .potatoes, .chicken {
    border-radius: 20px;
}

.garlic {
    background-image: url("images/garlic-knots.jpg");
}
.potatoes {
    background-image: url("images/scalloped-potatoes.webp");
}
.chicken {
    background-image: url("images/chicken.webp");
}

.chicken:hover, .potatoes:hover, .garlic:hover {
    opacity: 0.7;
}
